*.cookie
code_blocks/*/obj/
code_blocks/*/*.dll
code_blocks/*/*.depend
code_blocks/*/*.layout
code_blocks/*/gmon.out
code_blocks/*/config.json
code_blocks/*/bin/
code_blocks/*/*.exe
bin/*.dll
bin/config.json
*.gch
*.save-failed